<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Tao connection string trong nay thi khong can tao lai nua -->
		<add name="DefaultConnection" connectionString="Host=192.168.0.101;Port=5432;Database=QUANLYTHOIGIAN;Username=postgres;Password=1234;"/>
	</connectionStrings>
</configuration>